/* 載入Google字型 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/********** 基礎樣式 **********/
html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    color: #2b2b2b;
}
a, a:active, a:hover,a:link,a:visited{
    text-decoration: none;
    outline: none;
    color: #2b2b2b;
}
a:hover{
    color: #999;
}
h2{
    color: #bc7ce5;
} 
.title-color{
    color: #0099d1;
}

/********** logo **********/
@media screen and (max-width:768px) {
    .navbar-brand img{
        width: 10px;
    }
}

.shop-menu a{
    padding: 8px 16px;
    color: #0099d1;
    border: solid #0099d1;
    border-radius: 10px;
}

.shop-menu a:hover, .shop-menu .active a{
    color: #fff;
    background: #0099d1;
}


/********** 產品服務card效果 **********/
.product-categories a{
    transform: scale(1);
    transition: transform .4s ease-out;
}

.product-categories a:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 10px #999;
}

/********** google map **********/
.map{
    width: 100%;
    height: 300px;
}

/********** footer-menu **********/
.footer-menu{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-menu > li{
    display: inline-block;
    margin-right: 1rem;
}
.footer-menu > li > a{
    color: #fff;
    padding: 1rem 0;
}
.footer-menu > li > a:hover{
    color: #999;
}

@media screen and (max-width: 768px) {
    .send-btn{
        width: 100%;
    }
}
/********** 頁面高度 **********/
.page-content{
    min-height: 700px;
}

/********** 購物車清單 **********/
.sidebar-product-list{
    padding-top: 1rem;
    border-bottom: 1px solid #e9e9e9;
}

.sidebar-product-img{
    width: 40px;
    height: 40px;
    margin: .2rem;
    opacity: 1;
    border: 1px solid #0099d1;
}

.sidebar-product-list:hover .sidebar-product-img{
    opacity: .5;
}

/********** 購物清單移除商品按鈕 **********/
.remove{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ff0000;
    border-radius: 50%;
    cursor: pointer;
}
.remove:hover{
    background: rgb(172,2,2);
}

/********** 商品分類 **********/
.sidebar-product-category{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-product-category > li{
    display: block;
    padding: .5rem 0;
    border-bottom: 1px solid #e9e9e9;
}
.sidebar-product-category > li > a{
    color: rgb(43, 43, 43);
}
.sidebar-product-category > li > a:hover{
    color: #999;
}


/********** 購物車 **********/
.product-remove{
    width: 5%;
}
.product-thumbnail{
    width: 15%;
}
.product-name{
    width: 35%;
}
.product-price, .product-quantity, .product-subtotal{
    width: 15%;
}

.product-quantity input{
    width: 50%;   
}

@media screen and (max-width:768px){
    .product-thumbnail{
        display: none;
    } 
    .product-quantity input{
        width: 100%;   
    }
}

/********** 註冊與登入 **********/