@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-width: 100px;
    max-width: 1000px;
    background: blueviolet;
    margin: 0 auto;
}
header{
    width: 100%;
    background: rgb(187, 187, 9);
}
#a1{
    width: 25%;
    height:280px;
    background: rgb(127, 216, 219);
    margin-right: 5%;
    float: left;
}
#a2{
    width: 25%;
    height: 280px;
    background: rgb(4, 92, 155);
    margin-right: 5%;
    float: left;
}
#a3{
    width: 25%;
    height:280px;
    background: rgb(62, 92, 1);
    margin-right: 5%;
    float: left;
}
footer{
    width: 100%;
    background: blanchedalmond;
    clear: both;
}