@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    padding: 15px;
    background: #9e4aa2;
    color: #f8ee31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: space-between; 將項目設定均勻分布、項目之間間距相等的樣式*/

    align-items: center;
}
.w2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /*這是直接針對此id設定將項目預設之樣式清除的樣式*/

}
.w2 > li{
    margin-left: 13px;
    overflow: hidden;
}
.hamburger-icon{
    width:35px;
    height:100%;
    cursor:painer;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.bar,.bar::before,.bar::after{
    width:35px;
    height:5px;
    background:#4d6ac3;
    border-radius:3px;
    display:block;
    position: absolute;
    transition: transform 190ms;
}

.bar::before{
    content:'';
    margin-top:-7px; 
}
.bar::after{
    content:'';
    margin-top:7px;
}
#w1{
    display:none;
} 
#w1:checked+.hamburger-icon .bar::before{
    margin-top:0;
    transform:rotate(30deg);
}
#w1:checked+.hamburger-icon .bar{
    background-color:rgba(255,255,255,0);
}
#w1:checked+.hamburger-icon .bar::after{ /*這是指定id跟裡面其他class之索引*/
    
    margin-top:0;
    transform:rotate(-30deg);
    /*這是針對此索引做設定元素轉換角度
    transform:rotate(-30deg); 設定將元素轉30度角*/

}

@media (max-width:768px) { /*這是針對螢幕小於768時，設定以下樣式*/
    .hamburger-icon{
        display: flex;
    }
    .w2{
        width: 100%;
        margin-top: 45px;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        /*這是針對此class設定將項目在框內對齊之樣式
        justify-content: center; 設定將項目在框內居中對齊*/

        align-items:end;
        /*這是直接針對此class設定項目要對齊之樣式
        align-items:end; 這是設定項目要靠上方的最尾端對齊之樣式*/

    }
    .w2 > li{   /*這是指定此id下的li標籤*/

        width: 40%;
        margin: 0;
        background-color:aquamarine ;
        color: #3e4d39;
        text-align: center;
        /*這是直接針對所指定做設定文字對齊之樣式
        text-align: center; 這是設定文字要居中對齊之樣式*/

    }
    #w1 ~ .w2 li{  /*這是指定跟id後的下面同一個階級之索引*/

        height: 0;
        padding: 0;
        border-bottom: 0;
        transition: 200ms;
        /*這是此id設定從一種樣式轉換到另一種樣式的時間之樣式*/

    }
    #w1:checked ~ .w2 li{
        height: 25px;
        padding: 10px 0;
        border-bottom: 2px solid #45f2a1;
        /*這是針對此id設定底部邊框的寬度、線條、顏色之樣式*/

        transition: 200ms;
    }
}